@import "@/styles/_helpers.scss";

.section__info {
    padding: 0.3rem;
    overflow-y: auto;
    border-bottom: black 1px dashed;
    border-right: none;

    @include md {
        border-right: black 1px dashed;
        border-bottom: none;
    }
}