@import '_helpers.scss';
@import '_fonts.scss';

:root {
    --real-page-height: 100svh;

    --media-object-fit: cover;
    --media-object-position: center;
    --media-background-color: transparent !important;

    mux-player {
        --controls: none;
        --media-object-fit: cover;
        --media-object-position: center;
        --media-background-color: transparent !important;
        background: transparent;
        --media-object-fit: cover;
    }
}

:host {
    --media-background-color: transparent !important;
}

body,
html {
    margin: 0;
    padding: 0;
}

* > video {
    background-color: transparent !important;
}

body {
    // box-sizing: border-box;
    color: $black;
    background-color: $white;

    &.dark-theme {
        color: $white;
        background-color: $black;

        button {
            @include unstyle-button;
            cursor: pointer;
            color: $white;
            font-size: 2rem;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
    @include mondwest;
}

h1 {
    font-size: 2.2rem;
    margin: 0.2rem 0;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: underline;
    font-style: italic;
    color: $highlight;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;

    @include md {
        width: 10px;
        height: 10px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;

    @include md {
        border-radius: 10px;
    }

    border-top: black dashed 1px;
    border-left: black dashed 1px;
    border-right: black dashed 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $highlight;
    border-radius: 4px;

    @include md {
        border-radius: 10px;
    }

    border-top: black dashed 1px;
    border-left: black dashed 1px;
    border-right: black dashed 1px;
}