@import '_helpers.scss';
@import '_fonts.scss';

body,
html {
    margin: 0;
    padding: 0;
}

body {
    // box-sizing: border-box;
    color: $black;
    background-color: $white;

    &.dark-theme {
        color: $white;
        background-color: $black;

        button {
            @include unstyle-button;
            cursor: pointer;
            color: $white;
            font-size: 2rem;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
    @include mondwest;
}

a {
    text-decoration: underline;
    font-style: italic;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    border-top: black dashed 1px;
    border-left: black dashed 1px;
    border-right: black dashed 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $highlight;
    border-radius: 10px;
    border-top: black dashed 1px;
    border-left: black dashed 1px;
    border-right: black dashed 1px;
}