@import "@/styles/_helpers.scss";

.container__page-layout {
    display: grid;
    grid-template-rows: calc(100vh - 2.5rem) 0rem 2.5rem;
    transition: 500ms;
    grid-template-areas:
        "a a a"
        "c c c"
        "d d d"
    ;
    height: 100vh;
    height: 100dvh;

    &.open {
        // set sub-menu height to thumbnail image height + padding
        grid-template-rows: calc(100vh - 10.5rem) 8rem 2.5rem;

        .wrapper__sub-nav {
            border-top: 1px dashed black;
            transition: border-color 0s;
            background-color: $white;
        }
    }
}

.container__main {
    display: grid;
    grid-area: a;
    height: 100%;
    grid-template-columns: 1fr 3fr;
}

.section__info {
    border-right: black 1px dashed;
    padding: 0.3rem;
    overflow-y: auto;
}

