@import "@/styles/_helpers.scss";

.container__page-layout {
    display: grid;
    grid-template-rows: calc(var(--real-page-height) - 2rem) 0rem 2rem;
    transition: 400ms;
    grid-template-areas:
        "a a a"
        "c c c"
        "d d d"
    ;

    &.open {
        grid-template-rows: calc(var(--real-page-height) - 7.5rem) 5.5rem 2rem;

        .wrapper__sub-nav {
            border-top: 1px dashed black;
            transition: border-color 100ms ease-out;
            background-color: $white;
        }
    }
}

.container__main {
    display: grid;
    grid-area: a;
    grid-template-rows: 1fr 0fr;
    grid-template-columns: none;
    transition: 1000ms;

    &.is-content-split {
        grid-template-rows: 1fr 1fr;
    }

    @include md {
        grid-template-rows: none;
        grid-template-columns: 1fr 0fr;

        &.is-content-split {
            grid-template-rows: none;
            grid-template-columns: 1fr 3fr;
        }
    }
}