@import "@/styles/_helpers.scss";

.wrapper__main-nav {
    grid-area: d;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: $white;
    border-top: 1px dashed black;
}

.container__main-nav {
    width: 100%;
    display: flex;
    font-size: 1rem;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;

    @include md {
        display: grid;
        font-size: 1.25rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    li {
        align-self: flex-end;
    }

    button,
    a {
        text-decoration: none;
        @include unstyle-button;
        text-align: left;

        &:hover {
            cursor: pointer;
            color: $highlight;
        }
    }
}

.wrapper__sub-nav {
    grid-area: c;
    overflow-y: hidden;
    display: flex;
    padding: 0 0.5rem;
    align-items: center;
    transition: border-color 100ms ease-out, background-color 100ms ease-out;
    transition-delay: 400ms, 400ms;
    z-index: 1;
    background-color: transparent;

    @include md {
        border-top: 1px dashed rgba(0, 0, 0, 0);
    }
}

.container__sub-nav {
    align-self: center;
    display: flex;
    gap: 0.5rem;

    a {
        display: flex;
        align-items: center;
    }
}

.project__thumbnail {
    position: relative;
    box-sizing: border-box;

    img {
        opacity: 0.65;
        transition: opacity $fast;
        max-width: 5rem;
        max-height: 3rem;
        @include md {
            max-width: fit-content;
            max-height: fit-content;
            margin: 1rem 1rem 1rem 0;
        }
    }

    &:hover {
        img {
            opacity: 1 !important;
        }
    }

}