@import "@/styles/_helpers.scss";

.wrapper__main-nav {
    grid-area: d;
    display: flex;
    align-items: center;
    border-top: 1px dashed black;
    z-index: 1;
    background-color: $white;
    border-radius: 1rem 1rem 0 0;
}

.container__main-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1rem;
    margin: 0;
    align-items: center;
    padding: 0.6rem 0.3rem;
    box-sizing: border-box;

    li {
        align-self: flex-end;
    }

    button,
    a {
        text-decoration: none;
        @include unstyle-button;
        text-align: left;

        &:hover {
            cursor: pointer;
            color: $highlight;
        }
    }
}

.wrapper__sub-nav {
    grid-area: c;
    overflow-y: hidden;
    padding: 0rem 0.3rem;
    display: flex;
    align-items: center;
    border-top: 1px dashed rgba(0, 0, 0, 0);
    transition: border-color 100ms ease-out, background-color 100ms ease-out;
    transition-delay: 400ms, 400ms;
    border-radius: 1rem;
    z-index: 1;
    background-color: none;
}

.container__sub-nav {
    align-self: center;
    display: flex;

    a {
        display: flex;
        align-items: center;
    }
}

.project__thumbnail {
    position: relative;
    box-sizing: border-box;

    img {
        margin: 1rem 0;
        opacity: 0.65;
        transition: opacity $fast;

        &:hover {
            opacity: 1 !important;
        }
    }

}